<div class="first-div">
    <div class="first-main-div">
        <div class="heading">
            <h3>Upload the Document</h3>
        </div>
        <div class="upload-div">
            <div class="upload-box">
                <ngx-dropzone class="upload-file" #drop
                    [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
                    (change)="onSelect($event)">
                    <ngx-dropzone-label>
                        <div>
                            <span class="material-icons">
                                cloud_upload
                            </span>
                            <p>Drag and Drop</p>
                            <p>your file, or Select file from your system</p>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <div class="info">
                    <p>Supported file: (xls / xlsx)</p>
                    <p>[Max: 100MB]</p>
                </div>
            </div>
            <div>
                <button class="select" (click)="drop.showFileSelector()">BROWSE TO SELECT</button>
            </div>
        </div>
        <div>
            <button class="upload" [style.backgroundColor]="hasDisabled ? '#f1f1f1' : '#13ace8'"
                [disabled]="hasDisabled" (click)="onUpload()">UPLOAD</button>
        </div>
    </div>
    <div class="second-main-div">
        <div class="option-div">
            <div class="option-button-div">
                <div class="option" [style.backgroundColor]="hasUpload ?  '#13ace8' : '#bdebfc'">
                    <div>UPLOADING</div>
                    <div [style.display]="uploading ? 'block' : 'none'" class="loader"></div>
                </div>
                <div class="option" [style.backgroundColor]="hasExtract ?  '#13ace8' : '#bdebfc'">
                    <div>EXTRACTING</div>
                    <div [style.display]="extracting ? 'block' : 'none'" class="loader"></div>
                </div>
            </div>
            <button (click)="gotoView()" [style.backgroundColor]="hasExtract ?  '#a1a1a1' : '#d8d8d8' "
                [disabled]="!hasExtract" class="view">VIEW</button>
        </div>
    </div>
</div>