.main-div {
  margin: 20px;
}
.table {
  min-height: 500px;
}
th {
  font-size: 20px;
  background-color: #dddddd;
}
.go-back {
  width: 100px;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  margin: 20px 0px;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 30%;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
