.content {
  min-height: 100%;
  margin: 0 auto -50px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #0b9bd4, #63c2b4);
}
.menu {
  background-color: transparent;
  border: none;
  color: white;
}
.first-div {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.second-div {
  position: relative;
  top: 5px;
}
.custom-select {
  background: transparent;
  border: none;
}
.user {
  border-radius: 50%;
  border: none;
  height: 36px;
}
.context-menu {
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
}
.menu-list {
  list-style: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  text-align: center;
  background-color: #fff;
  padding: 2px;
}
.menu-options {
  text-transform: uppercase;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
.menu-options:hover {
  color: blue;
  background-color: #d3d3d3;
}
.divider {
  height: 2px;
  overflow: hidden;
  background-color: #e5e5e5;
}
footer {
  height: 50px;
  width: 100%;
  background-color: #e3e3e3;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.copyright {
  margin-left: 10px;
  margin-top: 10px;
}
.logo {
  margin-right: 30px;
}
